# Paths can be absolute or relative to repo root.
# Use keytool to create a jks and do NOT forget to save a copy of it.

TODOSIAN_RELEASE_STORE_FILE=keystore/todosian-release.jks
TODOSIAN_RELEASE_STORE_PASSWORD=change_me
TODOSIAN_RELEASE_KEY_ALIAS=todosian
TODOSIAN_RELEASE_KEY_PASSWORD=change_me